body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 120vh;
}

.container {
  padding: 1rem;
  flex: 1;
}

.plus-jakarta-sans-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.plus-jakarta-sans-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.navbar {
  background-color: white;
}

.navbar-div {
  display: flex;
  align-items: center;
}

.navbar-div a {
  margin: 0 0.5rem;
  text-align: center;
}

textarea {
  resize: none !important;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.f-info-socials i {
  font-size: 1.5rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  display: flex;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.listing-card {
  width: 100%;
  border: none !important;
  margin-bottom: 1rem;
  padding: 1rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  height: 20rem;
  object-fit: cover;
}

.card-body {
  padding: 0 !important;
}

.listing-link {
  text-decoration: none;
  width: 100%;
}

.card-img-overlay {
  opacity: 0;
  transition: all 150ms ease-in-out;
}

.card-img-overlay:hover {
  opacity: 0.1;
  background-color: rgba(255, 255, 255, 0.5);
}

.form-container {
  margin: 0 auto;
}

.show-container {
  display: flex;
  margin: 0 auto;
  width: 40%;
  flex-direction: column;
}

.show-container img {
  border-radius: 2rem;
  height: 50vh;
  width: 70%;
  object-fit: cover;
  margin: 1rem auto;
}

.show-container h3,
.show-container .owner-text {
  text-align: center;
}

.show-btns {
  display: flex;
  gap: 2%;
  margin: 5% 0;
}

.show-btns form button {
  background-color: #fe424d;
}

.show-btns form button:hover {
  background-color: #fe5560 !important;
}

.show-btns-2 .delete {
  background-color: #fe424d !important;
}

.show-btns-2 .delete:hover {
  background-color: #fe5560 !important;
}

.alert-custom {
  width: 70%;
  margin: 0 auto;
  margin-top: 1rem;
}

.signup-heading {
  display: flex;
  margin: auto;
  justify-content: center;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.filter {
  display: flex;
  width: 5rem;
  flex-direction: column;
  align-items: center;
  opacity: 0.7;
  gap: 0.25rem;
  transition: all 100ms ease-in-out 10ms;
}

.filter p {
  text-align: center;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.active-tab {
  opacity: 1;
}

.active-tab i,
.active-tab p {
  color: #fe424d;
}

.taxSwitch:hover {
  cursor: pointer;
}

.taxSwitchLabel {
  user-select: none;
}

.taxSwitchLabel:hover {
  cursor: pointer;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.categories .category {
  user-select: none;
}

.search-heading {
  padding-left: 1rem;
}

.bold {
  font-weight: 700;
}

@media (max-width: 1024px) {
  .show-container {
    width: 60%;
  }
  .show-container img {
    height: 30vh;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .explore-text {
    display: none !important;
  }
  .search-form {
    margin: 1rem 0;
  }
  .navbar-div {
    align-items: flex-start;
    margin-bottom: 1rem !important;
    gap: 0.5rem;
  }
  .taxDiv {
    display: none !important;
  }
  .filters {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .filters::-webkit-scrollbar {
    display: none;
  }
  .filter {
    width: 3rem;
  }
  .listing-card {
    display: flex;
    flex-direction: row !important;
    padding: 0.5rem;
  }
  .listing-card img {
    height: 9rem;
    width: 9rem !important;
    object-fit: cover;
  }
  .card-img-overlay {
    height: 9rem;
    width: 9rem !important;
  }
  .listing-card .card-body {
    margin-top: 0.5rem !important;
    margin-left: 1.5rem;
  }
  .listing-card .card-body .price {
    font-size: 0.85rem;
    margin-top: 0.5rem !important;
  }
  .head {
    padding: 0.5rem;
  }
  .show-container {
    width: 100%;
    padding: 1rem;
  }
  /* .show-img {
    height: 40rem !important;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 1rem !important; 
  } */
  .show-container h3 {
    margin: 1rem 0;
  }
  .container {
    padding: 0.5rem !important;
    overflow: hidden;
  }
}

@media (max-width: 426px) {
  .show-container {
    width: 100%;
  }
  .show-container img {
    width: 100%;
  }
  .listing-card img {
    height: 8rem;
    width: 8rem !important;
    object-fit: cover;
  }
  .card-img-overlay {
    height: 8rem;
    width: 8rem !important;
  }
  .listing-card .card-body {
    font-size: 0.75rem;
  }
  .listing-card .card-body .price {
    font-size: 0.75rem;
  }
  .show-container h3 {
    margin: 0.5rem 0 !important;
  }
  .filter p {
    font-size: 0.75rem;
  }
}
