<% layout('/layouts/boilerplate.ejs') %>

<div class="row-md p-3">
  <div class="form-container form-parent-div">
    <form
      action="/login"
      method="post"
      class="needs-validation"
      autocomplete="off"
      novalidate
    >
      <div class="mb-3">
        <h4 class="ms-auto signup-heading mb-5">Login</h4>
        <div class="mt-3">
          <input
            name="username"
            id="username"
            class="form-control"
            type="text"
            placeholder="Username"
            required
          />
          <div class="invalid-feedback">Username is required!</div>
        </div>
        <div class="mt-3">
          <label for="password" class="form-label">Password</label>
          <input
            name="password"
            id="password"
            class="form-control"
            placeholder="Password"
            required
          />
          <div class="invalid-feedback">Password is required!</div>
        </div>
        <div class="mt-4 ms-auto btn-container">
          <button class="btn btn-success signup-btn">Login</button>
        </div>
      </div>
    </form>
    <div class="text-container">
      <a href="/signup">Sign up for WanderLust</a>
    </div>
  </div>
</div>
